<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.education.counselor.trainer">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1871442144078034~9676854016"/>
        <activity android:name=".launcher.LoginActivity" />
        <activity android:name=".login.StudentLoginActivity" />
        <activity android:name=".login.CounsellorLoginActivity" />
        <activity android:name=".login.authority.login.AuthoritySchoolLoginActivity" />
        <activity android:name=".login.AdminLoginActivity" />
        <activity android:name=".counsellor.CounsellorDashboardActivity" />
        <activity android:name=".login.authority.AuthorityChoiceActivity" />
        <activity android:name=".login.authority.login.AuthorityCollegeLoginActivity" />
        <activity android:name=".authority.college.AuthorityCollegeDashboardActivity" />
        <activity android:name=".authority.school.AuthoritySchoolDashboardActivity" />
        <activity android:name=".student.StudentDashboardActivity" />
        <activity android:name=".admin.AdminDashboardActivity" />
        <activity android:name=".launcher.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.student.AddStudentActivity" />
        <activity android:name=".admin.student.edit.EditStudentActivity" />
        <activity android:name=".admin.student.StudentDetailsActivity" />
        <activity android:name=".admin.student.all.AllStudentsActivity" />
        <activity android:name=".admin.student.StudentsAcademicsActivity" />
        <activity android:name=".admin.startup.centers.StartupCentersActivity" />
        <activity android:name=".admin.startup.list.StartupListActivity" />
        <activity android:name=".admin.startup.StartupDetailsActivity" />
        <activity android:name=".admin.placement.centers.PlacementCentersActivity" />
        <activity android:name=".admin.placement.PlacementDetailsActivity" />
        <activity android:name=".admin.placement.list.PlacementListActivity" />
        <activity android:name=".admin.counsellor.edit.EditCounsellorActivity" />
        <activity android:name=".admin.counsellor.centers.CounsellorCentersActivity" />
        <activity android:name=".admin.news.centers.NewsCentersActivity" />
        <activity android:name=".admin.news.list.NewsListActivity" />
        <activity android:name=".admin.news.AddNewsActivity" />
        <activity android:name=".admin.placement.AddPlacementActivity" />
        <activity android:name=".admin.news.NewsDetailsActivity" />
        <activity android:name=".admin.centers.list.CentersListActivity" />
        <activity android:name=".admin.centers.CentersDetailsActivity" />
        <activity android:name=".admin.centers.AddCentersActivity" />
        <activity android:name=".admin.courses.centers.CoursesCentersActivity" />
        <activity android:name=".admin.courses.list.CoursesListActivity" />
        <activity android:name=".admin.employee.list.EmployeesListActivity" />
        <activity android:name=".admin.employee.AddEmployeeActivity" />
        <activity android:name=".admin.employee.EmployeesDetailsActivity" />
        <activity android:name=".admin.courses.CoursesDetailsActivity" />
        <activity android:name=".admin.startup.AddStartupActivity" />
        <activity android:name=".admin.counsellor.AddCounsellorActivity" />
        <activity android:name=".admin.courses.AddCoursesActivity" />
        <activity android:name=".admin.internship.centers.InternshipCentersActivity" />
        <activity android:name=".admin.internship.InternshipDetailsActivity" />
        <activity android:name=".admin.internship.list.InternshipListActivity" />
        <activity android:name=".admin.internship.AddInternshipActivity" />
        <activity android:name=".authority.college.GiveSuggestionActivity" />
        <activity android:name=".authority.college.suggestion_list.SuggestionListActivity" />
        <activity android:name=".authority.college.internship_list.InternshipListActivity" />
        <activity android:name=".authority.college.placement_list.PlacementListActivity" />
        <activity android:name=".authority.college.project_list.ProjectListActivity" />
        <activity android:name=".authority.college.startup_list.StartupListActivity" />
        <activity android:name=".authority.school.GiveSuggestionActivity" />
        <activity android:name=".authority.school.suggestion_list.SuggestionListActivity" />
        <activity android:name=".authority.school.startup_list.StartupListActivity" />
        <activity android:name=".authority.school.project_list.ProjectListActivity" />
        <activity android:name=".student.attendance.AttendanceActivity" />
        <activity android:name=".student.query.AddQueryActivity" />
        <activity android:name=".student.query.QueryListActivity" />
        <activity android:name=".student.ProjectDetailsActivity" />
        <activity android:name=".student.internship.AddInternshipActivity" />
        <activity android:name=".student.placement.AddPlacementActivity" />
        <activity android:name=".student.internship.InternshipDetailsActivity" />
        <activity android:name=".student.internship.InternshipListActivity" />
        <activity android:name=".student.placement.PlacementDetailsActivity" />
        <activity android:name=".student.placement.PlacementListActivity" />
        <activity android:name=".student.course.EnrolledCourseActivity" />
        <activity android:name=".student.course.CoursesListActivity" />
        <activity android:name=".student.course.CourseDetailsActivity" />
        <activity android:name=".counsellor.start_class.centers.StartClassCentersActivity" />
        <activity android:name=".counsellor.start_class.courses.StartClassCoursesActivity" />
        <activity android:name=".counsellor.start_class.batches.StartClassBatchesActivity" />
        <activity android:name=".counsellor.start_class.StartClassActivity" />
        <activity android:name=".counsellor.attendance.AttendanceActivity" />
        <activity android:name=".counsellor.responsible_centers.list.ResponsibleCentersListActivity" />
        <activity android:name=".counsellor.responsible_centers.ResponsibleCentersDetailsActivity" />
        <activity android:name=".counsellor.news.AddNewsActivity" />
        <activity android:name=".counsellor.internship.InternshipDetailsActivity" />
        <activity android:name=".counsellor.placement.PlacementDetailsActivity" />
        <activity android:name=".counsellor.startup.StartupDetailsActivity" />
        <activity android:name=".counsellor.internship.AddInternshipActivity" />
        <activity android:name=".counsellor.placement.AddPlacementActivity" />
        <activity android:name=".counsellor.startup.AddStartupActivity" />
        <activity android:name=".counsellor.news.NewsDetailsActivity" />
        <activity android:name=".counsellor.internship.list.InternshipListActivity" />
        <activity android:name=".counsellor.news.list.NewsListActivity" />
        <activity android:name=".counsellor.placement.list.PlacementListActivity" />
        <activity android:name=".counsellor.startup.list.StartupListActivity" />
        <activity android:name=".counsellor.internship.centers.InternshipCentersActivity" />
        <activity android:name=".counsellor.news.centers.NewsCentersActivity" />
        <activity android:name=".counsellor.placement.centers.PlacementCentersActivity" />
        <activity android:name=".counsellor.startup.centers.StartupCentersActivity" />
        <activity android:name=".counsellor.MyAccountActivity" />
        <activity android:name=".counsellor.meeting.AuthorityMeetActivity" />
        <activity android:name=".counsellor.meeting.HodMeetActivity" />
        <activity android:name=".counsellor.meeting.RankethonMeetActivity" />
        <activity android:name=".counsellor.meeting.StudentMeetActivity" />
        <activity android:name=".counsellor.report.DailyReportActivity" />
        <activity android:name=".counsellor.CoursewiseStudentList" />
    </application>
</manifest>