<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.education.counselor.trainer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".launcher.LoginActivity" />
        <activity android:name=".login.StudentLoginActivity" />
        <activity android:name=".login.CounsellorLoginActivity" />
        <activity android:name=".login.AuthoritySchoolLoginActivity" />
        <activity android:name=".login.AdminLoginActivity" />
        <activity android:name=".counsellor.CounsellorDashboardActivity" />
        <activity android:name=".login.AuthorityChoiceActivity" />
        <activity android:name=".login.AuthorityCollegeLoginActivity" />
        <activity android:name=".authority.college.AuthorityCollegeDashboardActivity" />
        <activity android:name=".authority.school.AuthoritySchoolDashboardActivity" />
        <activity android:name=".student.StudentDashboardActivity" />
        <activity android:name=".admin.AdminDashboardActivity" />
        <activity android:name=".launcher.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.AddStudentActivity" />
        <activity android:name=".admin.EditStudentActivity" />
        <activity android:name=".admin.StudentDetailsActivity" />
        <activity android:name=".admin.AllStudentsActivity" />
        <activity android:name=".admin.StudentsAcademicsActivity" />
        <activity android:name=".admin.StartupCentersActivity" />
        <activity android:name=".admin.StartupListActivity" />
        <activity android:name=".admin.StartupDetailsActivity" />
        <activity android:name=".admin.PlacementCentersActivity" />
        <activity android:name=".admin.PlacementDetailsActivity" />
        <activity android:name=".admin.PlacementListActivity" />
        <activity android:name=".admin.EditCounsellorActivity" />
        <activity android:name=".admin.CounsellorCentersActivity" />
        <activity android:name=".admin.NewsCentersActivity" />
        <activity android:name=".admin.NewsListActivity" />
        <activity android:name=".admin.AddNewsActivity" />
        <activity android:name=".admin.AddPlacementActivity" />
        <activity android:name=".admin.NewsDetailsActivity" />
        <activity android:name=".admin.CentersListActivity" />
        <activity android:name=".admin.CentersDetailsActivity" />
        <activity android:name=".admin.AddCentersActivity" />
        <activity android:name=".admin.CoursesCentersActivity" />
        <activity android:name=".admin.CoursesListActivity" />
        <activity android:name=".admin.EmployeesListActivity" />
        <activity android:name=".admin.AddEmployeeActivity" />
        <activity android:name=".admin.EmployeesDetailsActivity" />
        <activity android:name=".admin.CoursesDetailsActivity" />
    </application>

</manifest>